$max-xs: 420px;
$max-sm: 540px;
$max-md: 960px;
$max-lg: 1200px;

$color-white: #ffffff;

$color-green-lighter: #9eef88;
$color-green-light: #7aca67;
$color-green: #57a746;
$color-green-dark-light: #338526;
$color-green-dark: #006400;

$color-warning: #bc0038;

$color-gray: gray;
