$max-xs: 420px;
$max-sm: 540px;
$max-md: 960px;
$max-lg: 1200px;

$color-white: #ffffff;

$color-green-lighter: #eef6ec;
$color-green-light: #c2ddbc;
$color-green: #23850e;

$color-red: #bc0038;

$color-gray: gray;

:root {
  --color-main-lighter: #{$color-green-lighter};
  --color-main-light: #{$color-green-light};
  --color-main: #{$color-green};

  --color-secondary: #{$color-gray};

  --color-tertiary: #{$color-white};

  --color-warning: #{$color-red};

  --color-white: #{$color-white};

  @media screen {
    &[data-theme='dark'] {
      // --color-main-lighter: #{$color-main-lighter};
      // --color-main-light: #{$color-main-light};
      // --color-main: #{$color-main-lighter};

      // --color-secondary: #{$color-gray};

      // --color-tertiary: #{$color-white};

      // --color-warning: #{$color-warning};
    }
  }
}
